
.movie-card {
    background: white;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    color: #616161;
}

.movie-card h2 {
    padding: 20px 10px;
    color: #2c2c2c;
}

.movie-card p {
    padding: 15px 30px;
    font-size: 12px;
}

.movie-card img {
    border-radius: 5px;
}

.header-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-detail-title {
    color: #262626;
    display: block;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-detail .nav-back {
    background-image: url(https://image.flaticon.com/icons/svg/8/8764.svg);
    cursor: pointer;
    width: 40px;
    height: 40px;
}